<p>
  <a href="{{site.dune_site}}">DUNE Computing Basics</a>
  This is an introduction to interactive computing for the DUNE experiment.
  This hands-on workshop will cover basic concepts and tools,
  including basic access to systems, version control and data management.

  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<!-- <p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
-->
